/* nav */
h4 {
font-family: 'Libre Franklin', sans-serif;
font-weight: 600;
letter-spacing: 1px;
font-size: 30px;
}

.topnav {
  position: fixed;
  height: 50px;
  width: 100%;
  background-color: none;
  z-index: 9999;
}

.topnav a {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  background-color: #FA2742;
  color: #ffffff;
}

.topnav a.active {
  background-color: #ffffff;
  color: white;
}

.topnav-centered a {
  font-size: 24px;
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
}

html {
font-size: 16px;
overflow-x: hidden;
scroll-behavior: smooth;
}

body {
background-color: #E8EAE3;
font-size: calc(16px + (22 - 16) * ((100vw - 375px) / (1190 - 375)));
}

mark {
  background-color: #FFFCF7;
}

/* section title */
.title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  max-width: 750px;
  width: 100%;
  text-align: left;
  color: #000000;
}

.name {
  padding: 20px;
}


/* content */
.container {
  position: relative;
  top: 20px;
  left: 0px;
  max-width: 100%;
}

/* display */
section.view {
  height: 100vh;
  padding: 0px;
}

/* display work */
section.viewwork {
  width: 100wh;
	height: 100vh;
  background: linear-gradient(-45deg, #F4A004, #FFA600, #ffffff, #ffffff);
  	background-size: 400% 400%;
  	-webkit-animation: Gradient 15s ease infinite;
  	-moz-animation: Gradient 15s ease infinite;
  	animation: Gradient 15s ease infinite;
  }

  @-webkit-keyframes Gradient {
  	0% {
  		background-position: 0% 50%
  	}
  	50% {
  		background-position: 100% 50%
  	}
  	100% {
  		background-position: 0% 50%
  	}
  }

  @-moz-keyframes Gradient {
  	0% {
  		background-position: 0% 50%
  	}
  	50% {
  		background-position: 100% 50%
  	}
  	100% {
  		background-position: 0% 50%
  	}
  }

  @keyframes Gradient {
  	0% {
  		background-position: 0% 50%
  	}
  	50% {
  		background-position: 100% 50%
  	}
  	100% {
  		background-position: 0% 50%
  	}
  }

section.viewworkzest {
  width: 100wh;
height: 100vh;
background: linear-gradient(110deg, #FFF6E6 60%, #6AD2B6 60%);
}

/* hero content */

h1 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 40px;
  line-height: normal;
  max-width: 730px;
  width: 100%;
  text-align: right;
  color: #000000;
}

.mark {
  color: ;
}

.mainimg {
position: relative;
top: 90px;
/*left: 850px;*/
padding-left: 60%;
display: inline-block;
}

.mainimg img {
  max-width: 72%;
  max-height: auto;

}

.herostatement {
  position: absolute;
/*  left: 100px;*/
padding-left: 5%;
  top: 280px;
  width: 1000px;
}

/* work content */

.flex-wrapper {
  display: flex;
  align-items: center;
  padding: 5%;
}
.projectsection {
  font-family: 'Work Sans';
  position: relative;
/*  width: 600px;
  left: 200px;
  padding-top: 20%;
  padding-left: 10%;*/
  color: #696969;
  flex: 1;
  padding-left: 2%;
}

.projectheader {
  font-family: 'Bitter';
  font-size: 60px;
  color: #696969;
}

.phoneproject {
  position: relative;
/*  top: 50px;
  left: 850px;
  padding-left: 60%;*/
  display: inline-block;
  flex: 1;
  text-align: right;
}

.phoneproject img {
  width: 300px;
  max-width: 100%;
}


.hvr-sweep-to-right {
  font-family: 'Bitter', serif;
  font-size: 24px;
  color: #595959;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #F4A004;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* arrow */
.downArrow {
  position: relative;
  text-align: center;
  float: none;
  padding-top: 0px;
  font-size: 16px;
  font-family:  'Work Sans', sans-serif;
  color: #000000;
  text-decoration: none;
}

.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}


/* zest */
.flex-wrapperzest {
  display: flex;
  align-items: center;
  padding: 5%;
}

.zestsection {
  font-family: 'Literata', serif;
  color: #696969;
  font-size: 20px;
  line-height: 160%;
  position: relative;
  flex: 1;
  padding-left: 2%;
/*  width: 1000px;
  left: 200px;
  padding-top: 200px;*/
}

.zestheader {
  font-family: 'Literata', serif;
  color: #696969;
  font-size: 48px;
  position: relative;
  padding-bottom: 20px;
}

.comingsoon {
  position: relative;
  background-color: #EC7C4C;
  border: none;
  border-radius: 12px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}

.phonezest {
  flex: 1;
  text-align: center;
}

.phonezest img {
    position: relative;
    width: 300px;
    max-width: 100%;
/*    padding-top: 90px;
    padding-left: 250px;*/
}

/* about */
.flex-wrapperabout {
  display: flex;
  align-items: center;
  padding: 5%;
}


h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 60px;
  text-align: right;
  color: #FA2742;
}

h3 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  text-align: right;
  color: #373833;
}

section.viewabout {
  width: 100wh;
height: 100vh;
background-color: #E8EAE3;
}

.about {
  position: relative;
  width: 700px;
  /*width: 600px;*/
  flex: 1;
  padding-left: 2%;
}

.mainimgkat {
  position: relative;
/*  top: 50px;
  left: 850px;
  padding-left: 60%;*/
  flex: 1;
  text-align: left;
}

.mainimgkat img {
  position: relative;
  max-width: 30%;
}

/* connect */
.flex-wrapperconnect {
  display: flex;
  align-items: center;
  padding: 10%;
}

.send {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 60px;
  color: #FA2742;
  padding-bottom: 30px;
}

.form {
position: relative;
top: 30%;
left: 35%;
padding-right: 00px;
width: 600px;
}

    #form {
          max-width: 600px;
          padding: 2rem;
          box-sizing: border-box;
        }

        .form-field {
          display: flex;
          margin: 0 0 1rem 0;
        }
        label, input, textarea {
          width: 70%;
          padding: 0.5rem;
          box-sizing: border-box;
          justify-content: space-between;
          font-size: 16px;
          font-family: 'Work Sans', sans-serif;
          font-weight: 300;
          border: 1px solid #C4C4C4;
          border-radius: 5px;
        }
        input {
          border: 1px solid #C4C4C4;
          border-radius: 5px;
        }
}

.connectimg {
  top: 100px;
  width: 700px;
  padding-left: 40px;
}

.connectimg img {
  position: relative;
  top: 100px;
  max-width: 100%;
}
