html {
		overflow-x: hidden;
}

body {
	background: linear-gradient(120deg, #6AD2B6 20%, #FFF6E6 40%);
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
	overflow-x: hidden;
}

/*titles*/
h1 {
	font-family: 'Literata', serif;
	color: #696969;
	font-size: 38px;
	position: relative;
	padding-bottom: 2%;
	text-align: center;
}

h2 {
	font-family: 'Literata', serif;
	color: #FFF6E6;
	font-size: 38px;
	position: relative;
	padding-bottom: 2%;
	text-align: center;
}

h3 {
	font-family: 'Literata', serif;
	color: #696969;
	font-size: 38px;
	position: relative;
	padding-bottom: 2%;
	text-align: left;
}

h4 {
	font-family: 'Literata', serif;
	color: #696969;
	font-size: 38px;
	position: relative;
	padding-bottom: 2%;
	text-align: right;
}

h5 {
	font-family: 'Literata', serif;
	color: #FFF6E6;
	font-size: 20px;
	position: relative;
	padding-bottom: 2%;
	text-align: center;
}

/*nav*/
.topnav {
 position: fixed;
  height: 6%;
  width: 100%;
  background-color: #FFF6E6;
  z-index: 9999;
}

.topnav a {
  /*font-family: 'Sanchez', serif;
  font-weight: 300;
  float: left;
  color: #696969;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;*/
}

.topnav a:hover {
  background-color: #EC7C4C;
  color: #ffffff;
}

.topnav a.active {
  background-color: #ffffff;
  color: white;
}

.topnav-centered a {
  font-family: 'Sanchez', serif;
  font-weight: 300;
  color: #696969;
	float: left;
  text-align: center;
  padding: 16px 13px;
  text-decoration: none;
  font-size: 15px;
}


/*home*/
.zestheader {
  font-family: 'Literata', serif;
  color: #696969;
  font-size: 48px;
  position: relative;
  padding-bottom: 4%;
}

.phonezest {
  flex: 1;
  text-align: center;
}

.phonezest img {
    position: relative;
    width: 800px;
    max-width: 100%;
/*    padding-top: 90px;
    padding-left: 250px;*/
}



/*section*/
section.section {
	padding: 3%;
}

/* summary */
.summary {
  display: flex;
  align-items: center;
  padding-top: 7%;
	flex-direction: column;
	flex-wrap: wrap;
}

.zestsection {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
/*	padding: 5%;*/
}

.overview {
	padding-top: 4%;
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: #EC7C4C;
	width: 70%;
	padding-top: 5%;
	padding-bottom: 5%;
  /*font-family: 'Sanchez', serif;
  color: #696969;
  font-size: 18px;
  line-height: 160%;
  position: relative;
  flex: 1;
	width: 60%;
/*  width: 1000px;
  left: 200px;
  padding-top: 200px;*/
}

.overviewstyle {
	font-family: 'Sanchez', serif;
	color: #FFF6E6;
	font-size: 18px;
	line-height: 160%;
	position: relative;
	flex: 1;
	width: 70%;
	height: 100%;
}

/*info*/
.info {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	padding-top: 4%;
}

.role {
	padding-left: 2%;
	padding-right: 2%;
}

.time {
	padding-left: 2%;
	padding-right: 2%;
}

.tools {
	padding-left: 2%;
	padding-right: 2%;
}

/*problem*/
.problem {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
		/*padding-top: 4%;
	display: flex;
	align-items: center;
	padding: 5%;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: #EC7C4C;*/
}

.problemstyle {
width: 70%;
}

/*survey*/
p {
		width: 70%;
	font-family: 'Sanchez', serif;
	color: #696969;
	font-size: 18px;
	line-height: 160%;
	position: relative;
}

.research {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
}

.researchstyle {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
}

.surveyresults {

}

.surveyresults img {
	padding-bottom: 0%;
}

/*competitiveanalysis*/
.analysis {
	display: flex;
	align-items: center;
	padding-top: 0%;
	flex-direction: column;
	flex-wrap: wrap;
}

.analysisstyle {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
}

/*user persona*/
.personas {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
}

.up1 {
	padding-top: 3%;
	display: flex;
	justify-content: center;
}

.max {
	font-family: 'Sanchez', serif;
  color: #696969;
  font-size: 18px;
  line-height: 160%;
  position: relative;
	width: 350px;
  flex: 1;
	padding-left: 3%;
}

ul {
	list-style-type: circle;
}


.cass {
	font-family: 'Sanchez', serif;
  color: #696969;
  font-size: 18px;
  line-height: 160%;
  position: relative;
	width: 350px;
  flex: 1;
	padding-left: 3%;
}

/*user stories*/
.stories {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	/*padding-top: 4%;
	display: flex;
	align-items: center;
	padding: 5%;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: #EC7C4C;
	width: 80%;*/
}

.storiesstyle {
	text-align: center;
	font-family: 'Sanchez', serif;
  color: #696969;
  font-size: 18px;
  line-height: 160%;
  position: relative;
  flex: 1;
	width: 70%;
	height: 100%;
}

.storiesstyle img {
	max-width: 70%;
}

/*flows*/
.userflows {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
}

.ufcontainer {
	padding-top: 3%;
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.ufcontainer img {

}

.list {
margin-left: 10px;
margin-right: 10px;
}

.list img {

}

.add {
	margin-left: 10px;
	margin-right: 10px;
}

.add img {

}

.search {
	margin-left: 10px;
	margin-right: 10px;
}
.search img {

}


/*mockup*/
.mockup {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
}

.mock {
	padding-top: 3%;
	display: flex;
  flex-direction: row;
	text-align: center;
}

.mock img {
	text-align: center;
	max-width: 90%;
	height: auto;
	display: inline-block;
}
/*branding*/
.branding{
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
}

.sgimg {
	padding-top: 1%;
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.sgimg img {
	width: 70%;
}

/*testing*/
.testing {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
}

/*conclusion*/
.conclusionsection {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
}

.conclusion {
	padding-top: 4%;
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: #EC7C4C;
	width: 70%;
	/*display: flex;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;*/
}

.conclusionstyle {
	font-family: 'Sanchez', serif;
	color: #FFF6E6;
	font-size: 18px;
	line-height: 160%;
	position: relative;
	flex: 1;
	width: 70%;
	height: 100%;
	padding-top: 5%;
	padding-bottom: 5%;
}

.phone {
	text-align: center;
}
.phone img {
	width: 50%;
}

/*links*/
a {
  /*font-family: 'Sanchez', serif;
  font-weight: 300;
  float: left;
  color: #696969;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;*/
}

a:hover {
  background-color: #EC7C4C;
  color: #ffffff;
}

a.active {
  background-color: #ffffff;
  color: white;
}

a {
  font-family: 'Sanchez', serif;
  font-weight: 300;
  color: #696969;
	float: left;
  text-align: center;
  padding: 16px 13px;
  text-decoration: none;
  font-size: 20px;
}

.phone a:hover {
  background-color: #FFF6E6;
  color: #FFF6E6;
}

.noborder a:hover {
	border: 1px;
}
/*
.mock img:hover {
border: 1px solid #EC7C4C;
}

.sgimg img:hover {
border: 1px solid #EC7C4C;
}*/

/*mq 1190px*/
@media screen and (max-width: 1190px) {
/*nav*/
.topnav {
 position: fixed;
  height: 6%;
  width: 100%;
  background-color: #FFF6E6;
  z-index: 9999;
}

.topnav a {
  /*font-family: 'Sanchez', serif;
  font-weight: 300;
  float: left;
  color: #696969;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;*/
}

.topnav a:hover {
  background-color: #EC7C4C;
  color: #ffffff;
}

.topnav a.active {
  background-color: #ffffff;
  color: white;
}

.topnav-centered a {
  font-family: 'Sanchez', serif;
  font-weight: 300;
  color: #696969;
	float: left;
  text-align: center;
  padding: 13px 10px;
  text-decoration: none;
  font-size: 13px;
}
}

/*mq 575px*/
@media screen and (max-width: 575px) {
/*nav*/
.topnav {
display: none;
}

section.section {
	padding-bottom: 5%;
}

.surveyresults img {
width: 500px;
}

.up1 {
	padding-top: 3%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.max img {
width: 250px;
}

ul {
	list-style-type: circle;
}

.cass {

}

.cass img {
width: 250px;
}

.ufcontainer {
	padding-top: 3%;
	display: flex;
	flex-direction: column;
}

.list img {
display: none;

}

.add img {
display: none;
}

.search img {
display: none;
}

}


/*mq 375px*/
@media screen and (max-width: 375px) {
	html {
			overflow-x: hidden;
	}
p {
	font-size: 16px;
	width: 90%;
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 28px;
}

h4 {
	font-size: 28px;
}

h5 {
	font-size: 16px;
}

.summary {
	  height: 100vh;
}

.zestheader {
font-family: 'Literata', serif;
color: #696969;
font-size: 40px;
position: relative;
padding-top: 45%;
padding-bottom: 10%;
}

.phonezest {
	max-width: 300;
}

.topnav {
display: none;
}

section.section {
padding-top: 9%;
padding-bottom: 9%;
padding-left: 2%;
padding-right: 2%;
}

.surveyresults img {
width: 300px;
}

.up1 {
	padding-top: 3%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.max img {
width: 250px;
}

.max {
width: 300px;
	padding-left: 0%;
}

.cass {
width: 300px;
	padding-left: 0%;
}

.cass img {
width: 250px;
}

.ufcontainer {
	padding-top: 3%;
	display: flex;
	flex-direction: column;
}

.list img {
display: none;

}

.add img {
display: none;
}

.search img {
display: none;
}

.overview {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: #EC7C4C;
	width: 95%;
	padding-top: 4%;
	padding-bottom: 4%
  /*font-family: 'Sanchez', serif;
  color: #696969;
  font-size: 18px;
  line-height: 160%;
  position: relative;
  flex: 1;
	width: 60%;
/*  width: 1000px;
  left: 200px;
  padding-top: 200px;*/
}

.overviewstyle {
	width: 90%;
	font-size: 16px;
}

.problemstyle {

}

.conclusion {
	display: flex;
	align-items: center;
	padding: 1%;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: #EC7C4C;
	width: 95%;
  /*font-family: 'Sanchez', serif;
  color: #696969;
  font-size: 18px;
  line-height: 160%;
  position: relative;
  flex: 1;
	width: 60%;
/*  width: 1000px;
  left: 200px;
  padding-top: 200px;*/
}

.overview {
	padding: 1%;
}

.sgimg img {
	width: 80%;
	height: auto;
}

.zestsection {
	align-items: center;
	padding-bottom: 9%;
}

.conclusionstyle {
	padding-top: 4%;
	padding-bottom: 4%;
	font-family: 'Sanchez', serif;
	color: #FFF6E6;
	font-size: 16px;
	line-height: 160%;
	position: relative;
	flex: 1;
	width: 90%;
	height: 100%;
}

}
